<h1>Nuevo Post</h1>
<form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
      <div id="nombre" class="form-text">Coloque su nombre </div>
    </div>
    <div class="mb-3">
      <label for="post" class="form-label">Post</label>
      <input [(ngModel)]="post" name="post" type="text" class="form-control" id="post" placeholder="Post">
      <div id="nombre" class="form-text">Coloque el nombre de su post </div>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripcion</label>
      <textarea [(ngModel)]="descripcion" name="descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripcion"></textarea>
      <div id="nombre" class="form-text">Coloque la descripcion de sus post </div>
    </div>
    <button (click)="enviar()" type="button" class="btn btn-primary">Enviar</button>
  </form>
